h1 {
  font-size: 40px;
}

nav {
  border-style: solid;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  background-color: #DCDCDC;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  background-color: #17849A;
}

.toparea {
  border-style: solid;
  border-bottom: 0px;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #17849A;
}

.mainarea {
  border-style: solid;
}